### Dictionaries

##### mutable
##### key:value pair
    key will be unique always.

In [1]:
d={1:"alex",2:"jason",3:"sean"}
print(d)
print(type(d))

{1: 'alex', 2: 'jason', 3: 'sean'}
<class 'dict'>

In [2]:
print(d[2])

jason

### Add

In [3]:
d[4]="john"
print(d)

{1: 'alex', 2: 'jason', 3: 'sean', 4: 'john'}

### Update

In [4]:
d[3]="sean jr"
print(d)

{1: 'alex', 2: 'jason', 3: 'sean jr', 4: 'john'}

### d.keys()
Returns the list of the keys! Whenever we want to traverse a dictionary we can use this method.

In [5]:
for i in d.keys():
    print(i,"->",d[i])

1 -> alex
2 -> jason
3 -> sean jr
4 -> john

### d.values()

In [6]:
for i in d.values():
    print(i)

alex
jason
sean jr
john

### d.items()
Returns tuples of key value pairs

In [7]:
for item in d.items():
    print(item)
    
for key,value in d.items():
    print(key,value)

(1, 'alex')
(2, 'jason')
(3, 'sean jr')
(4, 'john')
1 alex
2 jason
3 sean jr
4 john

##### stud = ("alex":56,"jao":34,"may":54,"doe":87)

1. max marks
2. max marks and students name
3. min
4. min marks and students name
5. Dynamic Dictionary
    ##### n->no of products->3
    ##### product -> input
    ##### price -> input
    ##### shop = ("prod_name":price,"prod_name":price,"prod_name":price)
6. stud=("name":[math,physics,chem])
    ##### output=("name":total_marks)
    ##### student = [names]

In [8]:
stud = {"alex":56, "jao":34, "may":54, "doe":87}
min_marks = min(stud.values())
min_result = [key for key in stud if stud[key] == min_marks] 
print("Minimum Marks", min_result, "->" , min_marks)

Minimum Marks ['jao'] -> 34

In [9]:
stud = {"alex":56, "jao":34, "may":54, "doe":87}
max_marks = max(stud.values())
max_result = [key for key in stud if stud[key] == max_marks] 
print("Minimum Marks", max_result, "->" , max_marks)

Minimum Marks ['doe'] -> 87

In [5]:
students = {"john":[56,87,80], "sean":[14,43,67], "rhea":[78,90,89],"winne":[78,89,12]}
eligible_stud = []
stud = []
for key,value in students.items():
    total_marks = sum(value)
    if total_marks > 150:
        eligible_stud.append({key:total_marks})
        stud.append(key)
print(eligible_stud)
print(stud)

[{'john': 223}, {'rhea': 257}, {'winne': 179}]
['john', 'rhea', 'winne']

In [11]:
n = int(input("Enter the no of products: "))
shop={}
for i in range(n):
    prod_name = input("Enter The Product Name: ")
    prod_price = input("Enter The Product Price: ")
    shop[prod_name] = prod_price
print(shop)

Enter the no of products: 3
Enter The Product Name: Telescope
Enter The Product Price: 999
Enter The Product Name: Sugar
Enter The Product Price: 75
Enter The Product Name: Pencil
Enter The Product Price: 9
{'Telescope': '999', 'Sugar': '75', 'Pencil': '9'}