In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
data["Species"]= le.fit_transform(data["Species"])

In [6]:
x = data.drop(columns = ["Species"])
y = data["Species"]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,ElasticNetCV
from sklearn.svm import SVR
from sklearn.ensemble import StackingRegressor
base_models=[('ridge',Ridge()),('elasticNet',ElasticNetCV()),('svr',SVR())]
final_model=LinearRegression()
model=StackingRegressor(estimators=base_models,final_estimator=final_model)
model.fit(xtrain,ytrain)
ypred=model.predict(xtest)

In [10]:
from sklearn.metrics import r2_score
r2_score(ytest,ypred)

0.9555673675616367