### Encoding

**categorical data to numerical data**

#### Label Encoding

- The no of categories are checked, and the encoder will create 0-n-1 numerical values. And the values will be assigned in alphabetical order.
- Only will work for ordinal data

In [1]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [2]:
x = ["red","green","blue"]

#### Methods

#### fit()

In [3]:
le.fit(x)

LabelEncoder()

In [4]:
print(le.classes_)

['blue' 'green' 'red']

#### transform()

In [5]:
print(le.transform(x))

[2 1 0]

In [6]:
print(le.transform(["red"]))

[2]

In [7]:
print(le.transform(["green"]))

[1]

In [8]:
print(le.transform(["blue"]))

[0]

In [9]:
print(le.transform(['blue', 'green' ,'red']))

[0 1 2]

#### inverse_transform()

In [10]:
print(le.inverse_transform([2]))

['red']

#### fit_transform()

In [11]:
y = ["lol","rofl","lmao"]
print(le.fit_transform(y))

[1 2 0]

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv("train.csv")

In [14]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
data["Cabin"] = data["Cabin"].fillna("U")

In [16]:
data["Embarked"] =  data["Embarked"].fillna(data["Embarked"].mode()[0])

In [17]:
data["Age"] = data["Age"].fillna(data["Age"].median())

In [18]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U,S

In [19]:
data[["Embarked"]] =  data[["Embarked"]].apply(le.fit_transform)

In [20]:
data["Embarked"]

0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: Embarked, Length: 891, dtype: int32

In [21]:
# for single column
data["Embarked"] = le.fit_transform(data["Embarked"])
data["Embarked"]

0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: Embarked, Length: 891, dtype: int64

In [22]:
# for single column
data["Sex"] = le.fit_transform(data["Sex"])
data["Sex"]

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int32

In [23]:
data["Pclass"] = le.fit_transform(data["Pclass"])
data["Pclass"]

0      2
1      0
2      2
3      0
4      2
      ..
886    1
887    0
888    2
889    0
890    2
Name: Pclass, Length: 891, dtype: int64

In [24]:
data["Cabin"] = le.fit_transform(data["Cabin"])
data["Cabin"]

0      147
1       81
2      147
3       55
4      147
      ...
886    147
887     30
888    147
889     60
890    147
Name: Cabin, Length: 891, dtype: int32

In [25]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [26]:
d = ["S","M","L","XL","XXL"]

In [27]:
le.fit(d)

LabelEncoder()

In [28]:
print(le.transform(d))

[2 1 0 3 4]

In [29]:
print(le.classes_)

['L' 'M' 'S' 'XL' 'XXL']