### Pandas is used for Data Analysis

In [17]:
import pandas as pd

### Datastructure in Pandas
- Dataframe : (2D)
- Series : (when a single column is accessed of the dataframe, its calld series. 1D)

In [18]:
d = {"name":["a","b","c","d"],"id":[1,2,3,4]}

In [19]:
print (d)

{'name': ['a', 'b', 'c', 'd'], 'id': [1, 2, 3, 4]}

In [20]:
df = pd.DataFrame(d)

In [21]:
print(df)

  name  id
0    a   1
1    b   2
2    c   3
3    d   4

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
name = df["name"]

In [24]:
name

0    a
1    b
2    c
3    d
Name: name, dtype: object

In [25]:
type(name)

pandas.core.series.Series

In [26]:
df.name

0    a
1    b
2    c
3    d
Name: name, dtype: object

In [27]:
df[["name","id"]]

  name  id
0    a   1
1    b   2
2    c   3
3    d   4