In [1]:
n=5
mid=int(n/2)
for i in range(n):
    if i<=mid:
        for j in range(i+1):
            print("*",end="")
    else:
        for j in range(n-i):
            print("*",end="")
    print()

*
**
***
**
*

### While Loop

#### Checks the condition when it comes to execute the tasks.

#### initialization

##### while(condition):
   ###### task to be performed
   ###### incrementation

In [2]:
i =0
while(i<5):
    print("Hello World")
    i=i+1

Hello World
Hello World
Hello World
Hello World
Hello World

In [3]:
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))
choice = 0
while(choice < 5):
    choice = int(input("Enter Your Choie from 1-4 "))
    if(choice==1):
        print("Addition:", a+b)
    elif(choice==2):
        print("Subtraction: ", a-b)
    elif(choice==3):
        print("Multiplcation:", a*b)
    elif(choice==4):
        print("Division: ", a/b)
    else:
        print("Invalid Choice")

Enter number 1: 5
Enter number 2: 4
Enter Your Choie from 1-4 1
Addition: 9
Enter Your Choie from 1-4 5
Invalid Choice

### Break Statement

##### To avoid unecessary execution of a particular loop, we use break statement

In [4]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [5]:
for i in range(5):
    if i==3:
        print("3 is found!!")
        break
    print(i)

i=0
while(i<5):
    if i==3:
        print("3 is found!!")
        break
    print(i)
    i=i+1

0
1
2
3 is found!!
0
1
2
3 is found!!

### Continue 

##### It skips that particular condition

In [6]:
#without continue statement
for i in range(5):
    if i==3:
        print("3 is found!!")
    print(i)

0
1
2
3 is found!!
3
4

In [7]:
# with continue statement

for i in range(5):
    if i==3:
        print("3 is found!!")
        continue
    print(i)

0
1
2
3 is found!!
4

# Data Structures

### Tuples

In [8]:
t = 1,2,3,4,5,6

In [9]:
print(t)

(1, 2, 3, 4, 5, 6)

In [10]:
type(t)

tuple

In [11]:
t = ("pi",3.14,73,True)

In [12]:
print(t)

('pi', 3.14, 73, True)

##### index always starts from 0.
###### to access it, tuple_name[index]
#### It cant be modified, ie the data can be deleted or added in a tuple and hence its immutable.

In [13]:
t[3]

True

In [14]:
t[1]

3.14

In [15]:
t[0]

'pi'

In [16]:
t[2]

73

In [17]:
t= (1,2,3,4,(5,6,7))

In [18]:
#nested index/nested tuple

t[4][2]

7

In [19]:
t= (1,2,3,4,(5,6,7,(8,9,10,(11,12,13))))

In [20]:
t[4][1]

6

In [21]:
t[4][3][1]

9

In [22]:
t[4][3][3][0]

11

In [23]:
t[4][3][3][2]

13

### Tuple Slicing

#### t(start:stop:step)

In [24]:
t=(1,2,3,4,5,6,7,8,9,10)
t[:-1]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
t[1:5]

(2, 3, 4, 5)

In [26]:
t[:7]

(1, 2, 3, 4, 5, 6, 7)

In [27]:
t[1::3]

(2, 5, 8)

In [28]:
t[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [29]:
#odd values
t[0:9:2]

(1, 3, 5, 7, 9)

In [30]:
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [31]:
#reverse odd values
t[8::-2]

(9, 7, 5, 3, 1)

In [32]:
#even numbers
t[1:10:2]

(2, 4, 6, 8, 10)

In [33]:
#even reverse
t[9:0:-2]

(10, 8, 6, 4, 2)

In [34]:
t=1,2,3,4,5,6,7,8,9,10
for i in t:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
marks = (23,21,56,20,67,12)
high = marks[0]
for i in marks:
    if i> high:
        high = i
print("Highest Marks: ",high)

Highest Marks:  67

In [36]:
marks = (23,21,56,20,67,12)
low = marks[0]
for i in marks:
    if i< low:
        low = i
print("Lowest Marks: ",low)

Lowest Marks:  12

In [37]:
marks = (23,21,56,20,67,12)
high = marks[0]
for i in range(len(marks)):
    print(i,"=>",marks[i])

0 => 23
1 => 21
2 => 56
3 => 20
4 => 67
5 => 12

In [38]:
marks = (23,21,56,20,67,12)
high = marks[0]
for i in range(len(marks)):
    if marks[i]> high:
        pos=i
        high = marks[i]
print("Highest Marks is",high, "Found at position ",pos)

Highest Marks is 67 Found at position  4

In [39]:
marks = (23,21,56,20,67,12)
low = marks[0]
for i in range(len(marks)):
    if marks[i]< low:
        pos=i
        low = marks[i]
print("Lowest Marks is",low, "Found at position ",pos)

Lowest Marks is 12 Found at position  5

### Lists

In [40]:
l=[1,3,4,"lol",34.666]
print(l)
type(l)

[1, 3, 4, 'lol', 34.666]

list

#### List Operations

##### append
adds the data at the end of the list

#### list.append(new_data)

In [41]:
l = [1,2,3]
print(l)
l.append(4)
print(l)

[1, 2, 3]
[1, 2, 3, 4]

##### remove

removes the data

##### list.remove("value")

In [42]:
l = ["oil","eggs","bread","sugar"]
print(l)
l.remove("eggs")
print(l)

['oil', 'eggs', 'bread', 'sugar']
['oil', 'bread', 'sugar']

#### pop

##### list.pop(index)  => returns values

In [43]:
l = ["oil","eggs","bread","sugar"]
print(l)
print(l.pop(1))
print(l)

['oil', 'eggs', 'bread', 'sugar']
eggs
['oil', 'bread', 'sugar']

#### insert

##### list.insert(pos,value)

In [44]:
l = ["oil","eggs","bread","sugar"]
print(l)
l.insert(2,"milk")
print(l)

['oil', 'eggs', 'bread', 'sugar']
['oil', 'eggs', 'milk', 'bread', 'sugar']

### Dynamic List Creation

In [46]:
n = int(input("Enter the no of students: "))
stud=[]
for i in range(n):
    name = input("Enter The Name: ")
    stud.append(name)
print(stud)

Enter the no of students: 1
Enter The Name: Sagar
['Sagar']

In [47]:
n = int(input("Enter the no of students: "))
stud=[]
for i in range(n):
    name = input("Enter The Name: ")
    marks = input("Enter The Marks: ")
    stud.append([name,marks])
print(stud)

Enter the no of students: 1
Enter The Name: Priya
Enter The Marks: 21
[['Priya', '21']]

In [48]:
n = int(input("Enter the no of product you wanna buy: "))
prod=[]
for i in range(n):
    product = input("Enter Product: ")
    price = int(input("Enter Price: "))
    prod.append([product,price])
print(prod)

Enter the no of product you wanna buy: 1
Enter Product: Milk
Enter Price: 32
[['Milk', 32]]

### Membership Operator in Lec 1

In [ ]:
shop = [["oil",90],["milk",45],["suagr",35]]
print("1. Add Items to the List")
print("2. Remove Items")
print("3. Bag")
print("4. Billing")
choice = 0
while(choice < 3):
    choice = int(input("Enter Your Choie: "))
    if(choice==1):
        print(shop)
        n = int(input("Enter the no of product you wanna add: "))
        prod=[]
        for i in range(n):
            product = input("Enter Product: ")
            price = int(input("Enter Price: "))
            prod.append([product,price])
        print(prod, "Added")
        print(prod)
    elif(choice==2):
        print(prod)
        k = input("Enter the key you want to remove: ")
        flag = 0
        for i in range(len(prod)):
            if prod[i]==k:
                flag = 1
                pos = i
                break
            if flag == 1:
                print("Item Found at position",pos)
                prod.remove(k)
            else:
                print("Item Not Found!!!")
    elif(choice==3):
        print(prod)
        
    else:
        print("Invalid Choice")

1. Add Items to the List
2. Remove Items
3. Bag
4. Billing
Enter Your Choie: 1
Enter the no of product you wanna add: 3
Enter Product: Sabzi
Enter Price: 40
Enter Product: Watermelon
Enter Price: 60
Enter Product: Pen
Enter Price: 40
[['Sabzi', 40], ['Watermelon', 60], ['Pen', 40]] Added
[['Sabzi', 40], ['Watermelon', 60], ['Pen', 40]]
Enter Your Choie: 2
[['Sabzi', 40], ['Watermelon', 60], ['Pen', 40]]
Enter the key you want to remove: Sabzi
Item Not Found!!!
Item Not Found!!!
Item Not Found!!!

In [ ]:
shop = [["oil",90],["milk",45],["suagr",35]]
print("1. Add Items to the List")
print("2. Remove Items")
print("3. Bag")
print("4. Billing")
bag = []
bill = []
choice = 0
while(choice < 3):
    choice = int(input("Enter Your Choie: "))
    if(choice==1):
        print(shop)
        prod = input("Enter Product to buy: ")
        for item in shop:
            if prod == item[0]:
                bag.append(item[0])
                bill.append(item[1])
                print("Item Added Successfully!")
                break
            else:
                print("Item Out Of Stock Currently")
    print(bag)
    print(bill)
    elif(choice== 2):
        print(bag)
        k = input("Enter the key you want to remove: ")
        flag = 0
        for i in range(len(bag)):
            if bag[i]==k:
                flag = 1
                pos = i
                break
            if flag == 1:
                print("Item Found at position",pos)
                bag.remove(k)
                print("Item Removed")
            else:
                print("Item Not Found!!!")
    elif(choice==3):
        print(bag)
    elif(choice==4):
        print(bill)
    else:
        print("Invalid Choice!!")