In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("PlayTennis.csv")

In [3]:
data.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data = data.apply(le.fit_transform)
data

    Outlook  Temperature  Humidity  Wind  Play Tennis
0         2            1         0     1            0
1         2            1         0     0            0
2         0            1         0     1            1
3         1            2         0     1            1
4         1            0         1     1            1
5         1            0         1     0            0
6         0            0         1     0            1
7         2            2         0     1            0
8         2            0         1     1            1
9         1            2         1     1            1
10        2            2         1     0            1
11        0            2         0     0            1
12        0            1         1     1            1
13        1            2         0     0            0

In [5]:
x = data.drop(columns = "Play Tennis")

In [6]:
y = data["Play Tennis"]

### Gaussian NB

Used for continuous data(ie. something we can measure), like Iris etc

In [7]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x,y)

GaussianNB()

In [8]:
ypred = model.predict([[2,2,0,1]])
ypred

array([0])

### Multinomial Naive Bayes

Used on data like Spam/not Spam etc

In [9]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x,y)

MultinomialNB()

In [10]:
ypred = model.predict([[2,2,0,1]])
ypred

array([0])

### Zero Probability

We have Outlook/Temperature/Humidity/Wind etc If we had Weak Yes (4) with problility of 0.6 and Weak No (0) with probility of 0. So when we calculate, p(No|Wind) = 0.35 * 0 = 0

It will be cosidered as No. And its a drawback.

To avoid that it'll add 1 value to every feature!

So, now we have Weak Yes (4 + 1 = 5) and Weak No (0 + 1 = 1)