### DateTime
- Date      -> 23-3-2021
- Datetime  -> 23-3-2021 09:43
- Timedata  ->Difference between two dates

### TimeStamp

pd.to_datetime(df["feature_name")

In [1]:
import datetime

In [2]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [3]:
datetime.datetime.now()

datetime.datetime(2021, 3, 23, 12, 41, 14, 534848)

In [4]:
datetime.date.today()

datetime.date(2021, 3, 23)

In [5]:
dt = datetime.datetime.strptime("12/3/2021","%d/%m/%Y")
dt

datetime.datetime(2021, 3, 12, 0, 0)

In [6]:
dt.day

12

In [7]:
dt.month

3

In [8]:
dt.year

2021

In [9]:
dt.weekday()

4

In [10]:
dt.strftime("%A")

'Friday'

In [11]:
dt.strftime("%a %A")

'Fri Friday'

In [12]:
dt.strftime("%b %B")

'Mar March'

In [13]:
import calendar

In [14]:
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [15]:
calendar.month(2021, 3)

'     March 2021\nMo Tu We Th Fr Sa Su\n 1  2  3  4  5  6  7\n 8  9 10 11 12 13 14\n15 16 17 18 19 20 21\n22 23 24 25 26 27 28\n29 30 31\n'

In [16]:
import pandas as pd
data = pd.read_csv("covid.csv")

In [17]:
data.head(1)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1

In [18]:
data["Date"] = pd.to_datetime(data["Date"])

In [19]:
data.head(1)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1

- Find Day
- Find Month
- Find Weekday
- Find If Weekend -> T/F

### My Code

In [20]:
data["Day"]=data["Date"].dt.day

In [21]:
data["Month"]=data["Date"].dt.month

In [22]:
data.head(1)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Day,Month
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,30,1

In [23]:
data["Weekday"]=data["Date"].dt.weekday

In [24]:
data.head(1)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Day,Month,Weekday
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,30,1,3

In [25]:
def is_weekend(df,col):
    data[col+"_isWeekend"]= data["Weekday"] >= 5
    return True

In [26]:
is_weekend(data,"Weekday")

True

In [27]:
data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Day,Month,Weekday,Weekday_isWeekend
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,30,1,3,False
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,31,1,4,False
2,3,2020-01-02,6:00 PM,Kerala,2,0,0,0,2,2,1,3,False
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2,2,6,True
4,5,2020-03-02,6:00 PM,Kerala,3,0,0,0,3,2,3,0,False

### Maam's Code

In [28]:
def getday(date):     # can also use the samee way for month and weekday or do it the way i did.
    return date.day

In [29]:
data["Maam's_Day"] = data["Date"].apply(getday)

In [30]:
data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Day,Month,Weekday,Weekday_isWeekend,Maam's_Day
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,30,1,3,False,30
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,31,1,4,False,31
2,3,2020-01-02,6:00 PM,Kerala,2,0,0,0,2,2,1,3,False,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2,2,6,True,2
4,5,2020-03-02,6:00 PM,Kerala,3,0,0,0,3,2,3,0,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9286,9287,2020-09-12,8:00 AM,Telengana,-,-,266120,1480,275261,12,9,5,True,12
9287,9288,2020-09-12,8:00 AM,Tripura,-,-,32169,373,32945,12,9,5,True,12
9288,9289,2020-09-12,8:00 AM,Uttarakhand,-,-,72435,1307,79141,12,9,5,True,12
9289,9290,2020-09-12,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173,12,9,5,True,12
9290,9291,2020-09-12,8:00 AM,West Bengal,-,-,475425,8820,507995,12,9,5,True,12

In [31]:
#using lambda funtion

data ["Day_UsingLambda"] = data["Date"].apply(lambda date:date.day)
data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Day,Month,Weekday,Weekday_isWeekend,Maam's_Day,Day_UsingLambda
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,30,1,3,False,30,30
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,31,1,4,False,31,31
2,3,2020-01-02,6:00 PM,Kerala,2,0,0,0,2,2,1,3,False,2,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2,2,6,True,2,2
4,5,2020-03-02,6:00 PM,Kerala,3,0,0,0,3,2,3,0,False,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9286,9287,2020-09-12,8:00 AM,Telengana,-,-,266120,1480,275261,12,9,5,True,12,12
9287,9288,2020-09-12,8:00 AM,Tripura,-,-,32169,373,32945,12,9,5,True,12,12
9288,9289,2020-09-12,8:00 AM,Uttarakhand,-,-,72435,1307,79141,12,9,5,True,12,12
9289,9290,2020-09-12,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173,12,9,5,True,12,12
9290,9291,2020-09-12,8:00 AM,West Bengal,-,-,475425,8820,507995,12,9,5,True,12,12

- Total Cases for Weekday and avg
- Total Cases for Weekend and avg

#### Total Cases for Weekends and Avg

In [32]:
data["Weekday_isWeekend"].value_counts()

False    6580
True     2711
Name: Weekday_isWeekend, dtype: int64

In [33]:
weekdays= data.groupby("Weekday_isWeekend")
weekdays

In [34]:
wkends=weekdays.get_group(True)

In [35]:
wkends

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Day,Month,Weekday,Weekday_isWeekend,Maam's_Day,Day_UsingLambda
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2,2,6,True,2,2
6,7,2020-05-02,6:00 PM,Kerala,3,0,0,0,3,2,5,5,True,2,2
9,10,2020-08-02,6:00 PM,Kerala,3,0,0,0,3,2,8,6,True,2,2
16,17,2020-02-15,6:00 PM,Kerala,3,0,0,0,3,15,2,5,True,15,15
17,18,2020-02-16,6:00 PM,Kerala,3,0,0,0,3,16,2,6,True,16,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9286,9287,2020-09-12,8:00 AM,Telengana,-,-,266120,1480,275261,12,9,5,True,12,12
9287,9288,2020-09-12,8:00 AM,Tripura,-,-,32169,373,32945,12,9,5,True,12,12
9288,9289,2020-09-12,8:00 AM,Uttarakhand,-,-,72435,1307,79141,12,9,5,True,12,12
9289,9290,2020-09-12,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173,12,9,5,True,12,12
9290,9291,2020-09-12,8:00 AM,West Bengal,-,-,475425,8820,507995,12,9,5,True,12,12

In [36]:
weekends_count = wkends.Confirmed.mean()

In [37]:
wkends.Confirmed.count()

2711

In [38]:
weekends_count

94327.19291774253

#### Total Cases for Weekdays and Avg

In [39]:
wkdays=weekdays.get_group(False)

In [40]:
weekdays_count = wkdays.Confirmed.mean()

In [41]:
wkdays.Confirmed.count()

6580

In [42]:
weekdays_count

90814.95577507599

In [43]:
data["Confirmed"].describe()

count    9.291000e+03
mean     9.183978e+04
std      2.166014e+05
min      0.000000e+00
25%      5.385000e+02
50%      6.832000e+03
75%      7.885600e+04
max      1.859367e+06
Name: Confirmed, dtype: float64

In [44]:
data["Weekday_isWeekend"].describe()

count      9291
unique        2
top       False
freq       6580
Name: Weekday_isWeekend, dtype: object