In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Teams.csv")

In [3]:
df.head()

   Points  Rank    Team  Year
0     876     1  Riders  2014
1     789     2  Riders  2015
2     863     2  Devils  2014
3     673     3  Devils  2015
4     741     3   Kings  2014

In [4]:
df.shape

(12, 4)

In [5]:
# dataframe.groupby("Column name")

teams = df.groupby("Team")

In [6]:
# to get the groups

print(teams.groups)  #dictionary of group(key=> group name
                    #, value =[list of rows])

{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}

In [7]:
# groupby_obj.get_group("Group Name")
print(teams.get_group("Royals"))

    Points  Rank    Team  Year
9      701     4  Royals  2014
10     804     1  Royals  2015

#### Practice
- Group by the team and display all teams
- Print all Riders teams Details
- Print the maximum points of Year 2014
- Print all rank 1 teams
- Print each teams highest points
- Print each teams average points

In [8]:
df.head()

   Points  Rank    Team  Year
0     876     1  Riders  2014
1     789     2  Riders  2015
2     863     2  Devils  2014
3     673     3  Devils  2015
4     741     3   Kings  2014

In [9]:
teams = df.groupby("Team")
teams

In [10]:
print(teams.groups)

{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}

In [11]:
#Group by the team and displays all teams

teams=df.groupby("Team")
print(teams.groups)

{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}

In [12]:
#Print all riders teams details

teams.get_group("Riders")

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
8      694     2  Riders  2016
11     690     2  Riders  2017

In [13]:
#Print the maximum points of Year 2014

year = df.groupby("Year")
y=year.get_group(2014)

y.Points.max()

876

In [14]:
#Print all rank1 teams

rank =  df.groupby("Rank")
rank.get_group(1)

    Points  Rank    Team  Year
0      876     1  Riders  2014
6      756     1   Kings  2016
7      788     1   Kings  2017
10     804     1  Royals  2015

In [15]:
#Print each teams Highest Points

highest_points = df.groupby("Team")
highest_points.Points.max()

Team
Devils    863
Kings     812
Riders    876
Royals    804
Name: Points, dtype: int64

In [16]:
#Print each teams average points

average_points = df.groupby("Team")
average_points.Points.mean()

Team
Devils    768.00
Kings     774.25
Riders    762.25
Royals    752.50
Name: Points, dtype: float64