We construct a hyperplane in SVM to seperate the data in Classification.

x-> indpendent
y-> dependent (continuous data)

- Hyperplane is your best fit line.
- Margins will always be used to decide the best fit line or Best Fit HyperPlane
    - closest points to the hyperplane are taken under the margin

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("housing.csv")

In [3]:
data.head()

      RM  LSTAT  PTRATIO    MEDV
0  6.575   4.98     15.3  504000
1  6.421   9.14     17.8  453600
2  7.185   4.03     17.8  728700
3  6.998   2.94     18.7  701400
4  7.147   5.33     18.7  760200

In [4]:
x = data.drop(columns = ["MEDV"])
y = data["MEDV"]

In [5]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y, test_size= 0.2)

In [6]:
from sklearn.svm import SVR
model = SVR(kernel = "poly")
model.fit(xtrain, ytrain)
ypred = model.predict(xtest)

In [7]:
pd.DataFrame({"Actual":ytest, "Predicted":ypred})

     Actual      Predicted
36   420000  446111.147632
25   291900  435616.382794
60   392700  443149.995921
219  663600  452449.934364
209  489300  445747.651532
..      ...            ...
54   396900  438734.315423
236  369600  444739.863451
177  760200  449473.884884
345  373800  434262.276076
271  743400  454604.739900

[98 rows x 2 columns]

In [8]:
from sklearn.metrics import r2_score
print(r2_score(ytest,ypred))

0.10116574333110517